[tool.towncrier]
    package="vistautils"
    filename="CHANGELOG.md"
    issue_format = "`#{issue} <https://github.com/isi-vista/vistautils/issues/{issue}>`_"

    [[tool.towncrier.type]]
        directory = "breaking"
        name = "Backward-incompatible Changes"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "bugfix"
        name = "Bugfixes"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "deprecation"
        name = "Deprecations"
        showcontent = true

    [[tool.towncrier.type]]
        directory = "feature"
        name = "New Features"
        showcontent = true

[tool.black]
line-length = 90

[tool.isort]
multi_line_output = 3
include_trailing_comma = true
# default is FUTURE,STDLIB,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
# Placing third-party imports at the end makes their inclusion more obvious
sections = ["FUTURE", "STDLIB", "ATTRS", "ISIVISTA", "FIRSTPARTY", "THIRDPARTY", "LOCALFOLDER"]
known_attrs = ["attr"]
known_isivista = ["immutablecollections"]
