# core requirements
attrs==18.2.0
pyyaml==3.12
immutablecollections==0.1.2

# extras for development
black==18.9b0
nose
nose-exclude
coverage
pylint==2.1.1
flake8==3.5.0
mypy==0.620
towncrier
sphinx
sphinx-autodoc-typehints
