# core requirements
attrs==19.1.0
pyyaml==5.1
immutablecollections==0.7.0
typing_extensions  # for Protocol
sortedcontainers==2.1.0

# extras for development
black==18.9b0
pylint==2.3.1
flake8==3.7.7
mypy==0.701
pytest==4.4.1
pytest-cov==2.7.1
towncrier
sphinx
sphinx-autodoc-typehints
