# core requirements
attrs==19.2.0
pyyaml==5.1
immutablecollections==0.9.0
typing_extensions  # for Protocol
sortedcontainers==2.1.0

# extras for development
black==19.3b0
pytest==5.2.0
coverage==4.5.4
pytest-cov==2.8.0
pylint==2.4.0
flake8==3.7.8
mypy==0.701
isort==4.3.21
towncrier
sphinx
sphinx-autodoc-typehints
deprecation
